.noteList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.noteElem {
    margin: 2px;
    padding: 5px;
    background-color: gainsboro;
}