<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>
            Notes App
        </title>
        <link rel="stylesheet" th:href="@{/home.css}"/>
    </head>
    <body>
        <h1>Welcome, <span th:text="${user.username}">!</h1>        
        <div class="noteList" th:object="${notes}">
            <ul>
                <li class="noteElem" th:each="note : ${notes}">
                    <a th:href="@{/edit/{id}(id = ${note.id})}">
                        <span th:text="${note.title}">Title</span></br>
                        <span th:text="${note.content}">Content</span></br>
                    </a>
                </li>
            </ul>
        </div>
        <a th:href="@{/create}">Create a note</a>
        <a th:href="@{/logout}">Log out</a>
    </body>    
</html>